<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ PageTitle }}</title>
</head>
<body>
    {{> header }}
    <h2>Here are my projects</h2>
    <ul>
        <li>Lemon Tree</li>
        <li>Cherry Pie</li>
        <li>Banana Salad</li>
    </ul>
    {{> footer }}
</body>
</html>